@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap");

body {
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.navbar .nav-link {
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.logo {
  height: 70px;
  float: left;
  margin-top: 5px;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("../images/image1.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../images/image2.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../images/image3.jpg");
  background-size: cover;
}

#details {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/Preview.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

#details p {
  text-align: center;
  font-size: 1rem;
  margin-top: 50px;
  font-weight: 250;
  letter-spacing: 3px;
}

#details h1 {
  margin: 0;
  margin-top: 30px;
  color: #fff;
  font-size: 248%;
  font-weight: 300;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.search {
  margin: 1rem;
}

#amount {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/lights.jpg");
  background-position: center;
  background-size: cover;
  height: 95vh;
  background-attachment: fixed;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  word-spacing: 4px;
  letter-spacing: 1px;
}

#info {
  margin-top: 5rem;
}

#community img {
  width: 20rem;
}

#customers img {
  height: 60px;
  margin: 5rem 30rem 0 5rem;
  display: block;
}

.card {
  padding: 1rem;
  margin: 0 1rem;
}

#faq h1 {
  margin-bottom: 50px;
}

#story img {
  width: 20rem;
  margin-left: 2rem;
  display: block;
}

#main-footer {
  background: #000;
  color: #fff;
}
